STRIPCASH_LOGIN=your_login_here
STRIPCASH_PASSWORD=your_password_here
STRIPCASH_BASE_URL=https://stripcash.com
STRIPCASH_API_BASE_URL=https://api.stripcash.com
STATISTICS_TIMEOUT_SECONDS=60
STATISTICS_POLL_INTERVAL_MS=5000
TRACKING_RETRY_INTERVAL_SECONDS=15
